{% extends 'configq_base_template.html' %}

{% block title %}
	AHES | Edit Ques
{% endblock %}

{% block content %}
	<div class="col-md-8">
		<h4 class="para-heading"> Edit question </h4>

		<form action="" method="POST">
			{% csrf_token %}
			<table>{{ form }}</table>
			<input type="hidden" name="question_id" value="{{ current_question.id }}">
			<input type="hidden" name="exam_id" value="{{ current_question.exam_id }}">
			<input class="btn btn-primary" type="submit" name="submit" value="Save">
			<a class="btn btn-primary" href="{% url 'configq:question_list' %}">Back</a>
		</form>
		

	</div>
	


{% endblock %}