{% extends 'ahes_base_template.html' %}

{% block title %}
  Grader
{% endblock %}

{% block top-content %}
  <h4>Grader</h4>
{% endblock %}

{% block sidebar %}
  <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url 'ahes_home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'grader:home' %}">Grader Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'grader:upload_ans_script' %}">Upload ans script</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'grader:read_ans_script' %}">Read ans script</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'grader:ans_list' %}">Ans List</a></li>   
            <li class="nav-item"><a class="nav-link" href="{% url 'grader:final_result' %}">Final Result</a></li>         
          </ul>
{% endblock %}

{% block content %}
 
{% endblock %}

{% block javascript %}

{% endblock %}


