{% extends 'ahes_base_template.html' %}

{% block title %}
  Config
{% endblock %}

{% block top-content %}
  <h4>Config</h4>
{% endblock %}

{% block sidebar %}
  <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url 'ahes_home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'configq:home' %}"> Config Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'configq:exam_config' %}">Exam config</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'configq:question_image_upload' %}">Upload question image</a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="{% url 'configq:page_config' %}">Page config</a></li> -->
            <li class="nav-item"><a class="nav-link" href="{% url 'configq:pre_question_config' %}">Question config</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'configq:question_list' %}">Question list</a></li>
            
          </ul>
{% endblock %}

{% block content %}
 
{% endblock %}

