/*.question-image{
	width:1244px;
	height:1758px;
	border:2px solid blue;
	margin:5px;
}*/

.table {
    /*background-color: red;*/
}

.sub-heading{
	margin-top: 30px
}

.small-info-div {
    margin: 20px 20px;
}
