{% extends 'grader_base_template.html' %}

{% block title %}
    AHES | Ans List
{% endblock %}

{% block content %}
    <div>
        <div>
            <h4 class="para-heading"> Ans List </h4>
            <div>  
                <div>
                    <form class="form-inline" action="{% url 'grader:ans_list' %}" method="POST">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="ques_nr">Ques Nr.</label>
                        <input type="text" class="form-control" id="ques_nr" name="ques_nr">
                      </div>
                      <div class="form-group">
                        <label for="mat_nr">Mat. Nr.</label>
                        <input type="text" class="form-control" id="mat_nr" name="mat_nr">
                      </div>
                      <div><button class="btn btn-primary" name="search" value="Search">Search</button></div>
                    </form>
                </div>
               <!--  <form action="{% url 'grader:ans_list' %}" method="POST">
                   {% csrf_token %}              
                   Question nr.<input class="form-control" type="text" placeholder="Question num" aria-label="Search">
                   Matriculation nr.<input class="form-control" type="text" placeholder="Matriculation num" aria-label="Search">
                   <input type="button" name="search" value="Search">  
               </form> -->
            </div>
                
                          
            </div>

       
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Question num 
                            <a href="{% url 'grader:ans_list_ordered' 'question_num' %}"><i class="fas fa-angle-double-down"></i></a>
                            
                        </th>
                        <th>Student ans</th>
                        <th>
                            Matriculation num
                            <a href="{% url 'grader:ans_list_ordered' 'matriculation_num' %}"><i class="fas fa-angle-double-down"></i></a>
                        </th>
                        <th>Matching confidence</th>
                        <th>Alloted marks</th>
                        <th>Auto grade</th>
                        <th>final grade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for ans in object_list %}
                    <tr>
                        <td>{{ ans.question_num }}</td>
                        <td>{{ ans.students_ans }}</td>
                        <td>{{ ans.matriculation_num }}</td>
                        <td>{{ ans.matching_confidence }}</td>
                        <td>{{ ans.alloted_marks }}</td>
                        <td>{{ ans.auto_grade }}</td>
                        <td>{{ ans.final_grade }}</td>
                        <td><a href="{% url 'grader:ans_details' ans.pk %}">Details</a></td>
                    </tr>           
                    {% endfor %}
                </tbody>        
            </table>
            <div>
                <form action="{% url 'grader:delete_ans' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="submit" value="Delete all">                    
                </form>
                <form action="{% url 'grader:finalize_result' %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" name="submit" value="Finalize Result">                    
                </form>
               
            </div>
                  
        </div>      
    </div>
{% endblock %}